@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: black;
  font: normal 10px/1.42857 "Archivo Narrow', sans-serif";
  scroll-behavior: smooth;
}
hr{
    color: #38c172;
    margin:auto;
}
body{
    font-family: 'Archivo Narrow', sans-serif;
    overflow-x: hidden;
    background:url("../images/backgroundBody.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
    padding:0;
    position: relative;
}
.footer p{
    font-size: 13px;
    color: white;
}
.footer h3{
    color: white;
}
ul li{
    font-size: 12px;
    text-align: center;
}
.footer{
    background: #3b4c50;
    bottom:0;
}
.footer .row{
    background: white;
}
.footer .row p{
    color: black !important;
}
h1, h2{
    text-align: center;
    color:black;
    font-family:'Archivo Narrow', sans-serif !important;
}

/*.about{*/

/*    min-height:500px;*/
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
/*    border-radius:20px ;*/
/*}*/

section{
    min-height:600px;
    margin-bottom:100px;
}
.row{
    right: 0;
}
.services img{
    max-height: 60px;
    max-width: 60px;
}
.products img{
    max-height: 60px;
    max-width: 60px;
}
.products h2{
    margin-top: 50px;
}
.products p{
    text-align: center;
}
.card:hover{
    background: linear-gradient(to bottom, rgba(86, 52, 209, 0.5), rgba(40, 221, 224, 0.5));
}


@media(min-width: 700px) {
    p {
        font-size: 20px;
        padding: 20px;
        text-align: justify;
    }
    h1{
        font-size: 40px !important;
        margin-bottom: 50px !important;
    }
    #main {
        flex-grow: 1;
        min-height: 100vh;
        background: #ffffff;
        color: #2b3742;
        padding: 2rem;
    }
    .products{
        padding-top: 100px;
    }
    #main.background-flowers {
        background-image:  linear-gradient(to bottom, rgba(86, 52, 209, 0.5), rgba(40, 221, 224, 0.5)),url("../images/background.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        right: 0;
        top: 0;
        opacity: 1;
        max-height:600px;
        position: relative;

    }

    .aboutContent {
        position: relative;
        margin:50px;
        border-radius: 50px;
        height: 500px;
        right:0;
        background: rgba(255, 255, 255, 0.7);
    }

    .about .aboutHeading{
        transform: rotate(-90deg);
        font-size: 30px;
        margin-top: 50px;
        width:300px;
        height: 200px;
    }
    .services .row{
        max-height:600px;
        left:0 !important;
        right:0 !important;
        bottom:0 !important;
        position: relative;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;
    }
    .flex-item {
        min-width: 50%;
        min-height: 50%;
    }

    .services p {
        font-size: 14px;
    }
    .aboutContentImg {
        background: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 30px;
        right: 0;
        top: 0;
        max-height: 600px;
        position: relative;
    }
    #main.servicesImg {
        background-image: linear-gradient(to bottom, rgba(209, 178, 183, 0.51), rgba(112, 149, 224, 0.5)),url("../images/services.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        max-height:600px;
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
    }

    .card{
        border-radius: 50px;
        box-shadow:0 2px 4px rgba(0,0,0,.25);
        min-height:400px;
    }

}
@media(max-width: 700px) {
    p {
        font-size: 10px;
        padding: 10px;
        text-align: justify;
    }
    h1{
        font-size: 20px !important;
    }
    h2{
        font-size: 15px !important;
    }
    .home{
        margin-bottom: 100px;
    }
    #main {
        flex-grow: 1;
        min-height: 50vh;
        background: #ffffff;
        color: #2b3742;
        padding: 2rem;
    }
    #main.background-flowers {
        background-image:  linear-gradient(to bottom, rgba(86, 52, 209, 0.5), rgba(40, 221, 224, 0.5)),url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        max-height:200px;
        position: relative;
        right: 0;
        top: 0;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        max-height: 100vh;
    }
    .flex-item {
        max-width: 50%;
        max-height: 50%;
    }

    .aboutContent {
        position: relative;
        max-height: 300px;
        max-width: 300px;
        background: rgba(255, 255, 255, 0.5);
    }

    .about .aboutHeading h1{
        transform: rotate(360deg);
        font-size: 30px;
    }

    .services .row{
        margin-top: 50px;
        max-height:600px;
        left:0 !important;
        right:0 !important;
        bottom:0 !important;
        position: relative;
    }

    .services p {
        font-size: 7px;
    }

    #main.servicesImg {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height:600px;
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
    }
    .products{
        margin-top: 50px;
    }
    .card{
        border-radius: 20px;
        box-shadow:0 2px 4px rgba(0,0,0,.25);
        max-height:200px;
    }

}
a {
  color: white !important;
  cursor: pointer;
  text-decoration: none !important;
}
a:hover {
  opacity: 0.8 !important;
}

#header,
#main,
#footer {
  flex-shrink: 0;
}


#main,
#footer {
  position: relative;
}


.home{
    margin-top:100px;
}


#service1{
    float:left;
    background:cadetblue;
    width:50%;
    text-align: center;
}
#service2{
    float:right;
    width:50%;
    text-align: center;
}
#service3{
    float:left;
    text-align: center;
    width:50%;
}

#service4{
    float:right;
    background:cadetblue;
    width:50%;
    text-align: center;
}




#main.servicesImg:hover{
    background-image:  linear-gradient(to bottom, rgba(209, 161, 0, 0.5), rgba(224, 41, 0, 0.5)),url("../images/services.jpg");

}
/*.servicesImg h1, h2{*/
/*    color:white !important;*/
/*}*/
#main.servicesBackground{
    background-image:  linear-gradient(to bottom, rgba(133, 209, 197, 0.5), rgba(103, 197, 224, 0.5));
    width: 100%;
    max-height:600px;
    position: absolute;
    left: 0;
    top: 0;
}

#service1 img:hover{
    opacity: 0.5;
}
#service2 img:hover{
    opacity: 0.5;
}
#service3 img:hover{
    opacity: 0.5;

}
#service4 img:hover{
    opacity: 0.5;
}



/* nav toggle */
.nav-toggle {
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.8;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: black;
  content: "";
  height: 0.4rem;
  transition: all 0.5s;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: #ffffff;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  background: rgba(0,0,0,0.8);
    /*background: black;*/
  color: #ffffff !important;
  cursor: pointer !important;
  display: flex !important;
  font-size: 2rem !important;
  height: 100vh !important;
  left: -20rem !important;
  padding: 6rem 2rem 2rem 2rem !important;
  position: fixed !important;
  top: 0 !important;
  transition: all 0.5s !important;
  width: 20rem !important;
  z-index: 1 !important;
}
.nav.expanded {
  left: 0 !important;
}
.nav ul {
  list-style: none !important;
  margin: auto 0 !important;
  padding: 0 !important;
}


